body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

p {
    margin-top: 5px;
    font-size: 18;
}

ul, li { padding-left: 5px; margin: 7px; }
a { color:blue; text-decoration: none;}

button {
    margin-left: 0px;
    height: 32px;
    border: 1px rgb(54, 54, 54) solid;

}

h1, h2, h3 {
    margin-bottom: 0px; 
    font-family: 'Linux Libertine', 'Georgia', 'Times', 'Source Serif Pro', serif;
    font-weight: 100;
}

table tr th {
    padding: 2px;
    background-color: #b0c4de;
}

hr {
    margin: 0px;
}

blockquote {
    align-self: center;
    padding: 10px;
    background-color: #f8f9fa;
    border: #999999 solid 1px;
    border-left: 5px solid #fcbb2f;
    font-style: italic;
}

.tabela-wiki {
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
    background-color: #f8f9fa;
    width: 100%;
    font-family: sans-serif;
    font-size: 14px;
}

.tabela-wiki th {
    background-color: #b3c6ff;
    border: 1px solid #a2a9b1;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.tabela-wiki td {
    border: 1px solid #a2a9b1;
    padding: 10px;
    vertical-align: top;
}

.tabela-wiki .categoria {
    background-color: #e6e6ff;
    font-weight: bold;
    width: 160px;
}

.num {
    list-style: decimal;
    margin-top: 10px;
}

.list {
    list-style: disc;
    margin-left: 20px;
}

.sub_topico {
    margin-left: 10px;
    margin-top: 5px;
}

.cap {
    margin: 5px 0px 0px 0px;
    font-size: 20px;
    font-weight: bold;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 5px;
    margin: 0px ;
}

.conteudo {
    flex-direction: column;
    gap: 10px;
}

.tabela {
    border: 1px solid #999999;
    background-color: #f8f9fa;
    width: 350px;
    padding: 2px;
    border-collapse: separate;
    float: right; 
    margin-left: 10px;
}

.td1 {
    vertical-align: top;
    font-weight: 600;
}

.table-header {
    height: 50px;
    background-color: #b0c4de;
}

.table-header th {
    font-size: 18px;
    font-weight: bold;
}

.bar {
    padding: 0 10px;
    border: 1px rgb(54, 54, 54) solid;
    border-right: 0px;
    height: 30px;
    width: 400px;
    margin-right: 0px;
    margin-left: 5px;
}

.searchBar {
    display: flex;
    align-items: center;
    margin-left: 60px;
    gap: 0px;
}

.logo {
    display: flex;
    align-items: center;
    padding: 10px;
}

.content {
    max-width: 1660px;
    margin: 10px;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,12rem) minmax(0,2.5fr) minmax(0,12rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
    font-size: 12px;
    padding-left: 50px;
    padding-top: 30px;
}

.anchors {
    position: sticky;
    top: 10px;
    align-self: flex-start;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 14px;
}

.sidebar {
    position: sticky;
    top: 10px;
    align-self: flex-start;
    padding-top: 30px;
    padding-right: 20px;
    font-size: 14px;
}